<div class="container-fluid ">
    <div class="pedido">
        <h1>{{tituloPagina}}</h1>

        <div>
            <form action="/retirada/cria" method="post">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-8">
                        <label for="nome" class="form-label">Cliente:</label>
                        <input type="text" name="nome" class="form-control" id="nome" placeholder="nome do cliente">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <label for="telefone" class="form-label">Telefone do cliente:</label>
                        <input type="tel" name="telefone" class="form-control" id="telefone" placeholder="digite o telefone do cliente">
                    </div>
                </div>
                
                 <div class="row">
                    <div class="col-12 col-md-6 col-lg-8">
                        <label for="produtos" class="form-label">Produtos:</label>
                        <input type="text" name="produtos" class="form-control" id="nome"
                            placeholder="Digite os produtos e quantidade">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <label for="valorPedido" class="form-label">Valor total do pedido:</label>
                        <input type="number" name="valorPedido" class="form-control" id="telefone"
                            placeholder="digite o valor total do pedido">
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6 col-lg-8">
                        <label for="retirada" class="form-label">Nome de quem vai retirar: </label>
                        <input type="text" name="retirada" class="form-control" id="retirada"
                            placeholder="digite o nome de quem vai receber">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <label for="retiradaNum" class="form-label">Telefone de quem vai receber: </label>
                        <input type="tel" name="retiradaNum" class="form-control" id="retiradaNum"
                            placeholder="digite o telefone de quem vai retirar">
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-6 col-md-4 col-lg-2">
                        <label for="dataEntrega" class="form-label">Data: </label>
                        <input type="date" name="dataEntrega" class="form-control" id="dataDeEntrega" >
                    </div>
                    <div class="col-6 col-md-4 col-lg-2">
                        <label for="horarioEntrega" class="form-label">Horário: </label>
                        <input type="time" name="horarioEntrega" class="form-control" id="horarioEntrega"
                            >
                    </div>
                </div>

                <button class="btn btn-secondary" type="submit">Enviar pedido</button>
            </form>
        </div>
    </div>
</div>