

    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/images/orquidea.png" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/images/rosas.png" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/images/juridico.png" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">anterior</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">próximo</span>
        </a>
    </div>

<div class="container" data-aos="fade-up"
     data-aos-anchor-placement="center-center">
<h3 class="brilhante" >{{tituloPagina}}</h3>

</div>

    <main>
        
    
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, fugiat! Inventore at cum sint voluptate praesentium aspernatur expedita fugiat deleniti veritatis facilis asperiores, ipsa delectus accusantium, id placeat adipisci modi!
        Recusandae numquam dolores esse consequuntur blanditiis explicabo accusantium accusamus doloribus perferendis dignissimos. Quos accusantium alias iure iste sint ea reprehenderit qui dolor placeat quam ad, esse veritatis repellat harum saepe?
        Eaque, tempore architecto cupiditate vero, odio velit illum distinctio perspiciatis pariatur hic magnam doloremque! Explicabo laboriosam veritatis eveniet pariatur eum corrupti nobis accusantium quos, eius consectetur fugit atque dignissimos maxime.
        Vero doloremque ipsa quis perspiciatis unde, libero, temporibus, consequuntur rerum possimus quasi enim laborum rem neque officia molestias cupiditate sequi. Fuga suscipit voluptatibus molestiae ducimus nulla alias doloremque labore veniam?
        Quaerat animi ducimus fugiat, corrupti voluptatem ratione. Hic aut rerum iure unde ullam! Sapiente unde ea inventore earum quis cum obcaecati nesciunt voluptatum, alias quam et numquam facilis? Molestiae, incidunt.
        Incidunt culpa, voluptatem nobis temporibus nam, dolores iste non minima quisquam accusantium sunt tempore architecto optio amet inventore totam earum reprehenderit et unde laboriosam ratione aliquam corporis laudantium praesentium! Ullam.
        Illo fugit doloremque eligendi nesciunt, odio repudiandae consectetur fugiat illum magnam iusto quis? Nobis, maiores molestiae qui corporis, sunt consectetur voluptatum accusamus, suscipit fuga asperiores officia veritatis delectus commodi unde.
        Vel eaque earum officiis illo fuga, repellat reprehenderit fugit iure qui? Veniam ut impedit inventore voluptatum, repudiandae laboriosam minima perspiciatis aliquam ab culpa dignissimos saepe quam minus? Libero, non distinctio!
        Esse, dolorem? Facilis magnam ipsam error ipsa sequi atque consequuntur commodi rerum debitis nam, blanditiis tempora excepturi at quidem quibusdam omnis odio eaque modi distinctio soluta deserunt tempore? Doloribus, maiores?
        Animi laboriosam fugiat illo veritatis reprehenderit. Impedit, soluta sed necessitatibus illum obcaecati veniam nihil sunt dignissimos fuga adipisci veritatis repudiandae dolores dolorum, harum quas deserunt reprehenderit mollitia ipsa? Earum, accusamus?
        Eum veritatis excepturi, quod quasi aliquid enim nobis aspernatur sequi dolor ex repellendus ducimus consequatur vitae quaerat laboriosam consectetur harum libero. Saepe itaque odit aliquam, iste recusandae eos corporis possimus.
        Maiores magnam harum velit consectetur dicta ex cumque maxime, fugiat quae ullam dolor ipsum delectus nobis corrupti minus? Debitis hic libero qui facere temporibus provident autem ullam atque vel dignissimos.
        Modi sint soluta necessitatibus dolor minus repudiandae deserunt ab eius sed in, temporibus, quisquam sequi laborum quis ipsa cum vero harum consequuntur. Soluta nisi ut provident consequatur, libero amet magni.
        Incidunt fugit dolorem fugiat iure enim tempore cupiditate doloremque dicta mollitia, modi sed ducimus voluptates. Aut debitis perspiciatis recusandae fugiat eveniet rem officia voluptatibus possimus incidunt. Aspernatur aperiam qui quod.
        Possimus ipsam delectus corporis odit praesentium in dolore illum neque quisquam architecto cumque fugiat minus quasi harum molestias hic alias necessitatibus totam, nesciunt sequi? Aut dolore nisi quidem harum odit.
        Atque aspernatur mollitia, possimus ullam quia dolorum molestiae similique excepturi temporibus! Sunt tenetur optio, doloribus esse minus repellat harum corporis quidem voluptate voluptates eligendi eum saepe aspernatur officia cum amet.
        Voluptatum eius laudantium praesentium quo voluptates ut quidem deleniti quisquam fugiat iure aut unde libero veritatis, minima tempore aliquam id, ipsam reprehenderit doloremque vel cumque optio inventore dolor. Minus, explicabo.
        Expedita iste mollitia nemo sunt illum tempora quod, sapiente corrupti nisi, iure obcaecati alias facere voluptatibus provident, ab molestias quas! Totam tempora facilis perspiciatis minima nesciunt suscipit, exercitationem natus culpa!
        Quasi delectus sint consequatur sed, veritatis, facere ea unde ad in incidunt corrupti commodi, aliquid at cupiditate iste maxime facilis. Quae ipsam alias minima officia non unde iste aliquam vero.
        Odio tenetur commodi esse non, laboriosam quisquam laudantium. Unde expedita sunt impedit quae aliquam dolorem ullam amet ipsam natus illum? Magni non nemo adipisci porro velit beatae, ut eius accusamus?

    </main>