<div class="container">
    <div class="row">
        <div class="col-6 col-md-4">
            <div class="card" >
                <img class="img-fluid" loading="lazy" src="/images/bqRosasV.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Buque rosas vermelhas</h5>
                    <p class="card-text">Um clássico que nunca sai de moda. Este buquê traz a elegância das rosas vermelhas, perfeitas para demonstrar amor e carinho em qualquer ocasião especial.</p>
                    <p>R$184,50</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="card" >
                <img class="img-fluid" loading="lazy" src="/images/superBq.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Super buquê rosas vermelhas</h5>
                    <p class="card-text">Para quem quer impressionar. Um buquê maior e mais exuberante de rosas vermelhas, ideal para marcar momentos inesquecíveis com muito romantismo.</p>
                    <p>R$249,90</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="card" >
                <img class="img-fluid" loading="lazy" src="/images/orq.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Orquídea</h5>
                    <p class="card-text">Delicada e sofisticada, a orquídea é uma escolha perfeita para presentear quem aprecia beleza e elegância, sendo ideal para ocasiões especiais ou para decorar ambientes.</p>
                    <p>R$179,50</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-4">
            <div class="card" >
                <img class="img-fluid" loading="lazy" src="/images/botaoGirassol.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Botão de girassol</h5>
                    <p class="card-text">Uma flor vibrante e alegre, que simboliza energia positiva e felicidade. Ideal para iluminar o dia de alguém e encher de cor qualquer ambiente.</p>
                    <p>R$19,90</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="card" >
                <img class="img-fluid" loading="lazy" src="/images/lirio.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lírio</h5>
                    <p class="card-text">Elegância e sofisticação em uma flor. O lírio é perfeito para transmitir paz, pureza e bons sentimentos, sendo uma escolha perfeita para decorações finas e presentes sofisticados.</p>
                    <p>R$84,90</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="card" >
                <img class="img-fluid" loading="lazy" src="/images/bqGirassol.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Buquê de girassol</h5>
                    <p class="card-text">Um buquê que irradia alegria e boas energias. Ideal para ocasiões festivas e para trazer brilho e cor para qualquer momento especial.</p>
                    <p>R$174,90</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-4">
            <div class="card" >
                <img class="img-fluid" loading="lazy" src="/images/bqFloresDoCampo.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Buquê de flores do campo</h5>
                    <p class="card-text">Um arranjo despojado e encantador com flores diversas do campo. Leve e alegre, ideal para presentear em momentos de descontração e alegria.</p>
                    <p>R$154,90</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="card" >
                <img class="img-fluid" loading="lazy" src="/images/cestaCafeDaManha.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cesta de café da manhã</h5>
                    <p class="card-text"> Uma deliciosa combinação de sabores e carinho. A cesta de café da manhã é uma ótima forma de começar o dia com uma surpresa cheia de delícias.</p>
                    <p>A negociar</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="card" >
                <img class="img-fluid" loading="lazy" src="/images/bqNoiva.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Buquê de noiva</h5>
                    <p class="card-text">A escolha perfeita para o grande dia. Um buquê sofisticado e elegante, feito para acompanhar noivas que buscam beleza e harmonia em um dos momentos mais especiais de suas vidas.</p>
                    <p>A negociar</p>
                </div>
            </div>
        </div>
    </div>
</div>