root{
  font-size: 62.5%;
}


body {
  font: 14px "Lora","Lucida Grande", Helvetica, Arial;
  background-image: url(/images/fundoSiteNg.svg);
  background-size: cover;
  background-repeat: repeat;
  background-position: calc();
  background-attachment: fixed;
  overflow-x: hidden;

  min-height: 100vh;


}

.container-fluid{
  
  padding: 0;
}

.pedido {
  margin-top: 40px;
  padding: 50px 20px;
  background: rgba(38, 202, 65, 0.7);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 4.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.pedido .btn {

  margin-top: 20px;
}


.pedido .form-label {
  margin-top: 10px;
  margin-bottom: 10px;
}



.brilhante {
  margin-top: 30px;
  font-size: 2.2vw;
  color: white;
  text-align: center;
  font-family: "Delius",cursive;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.6),
    0 0 30px rgba(255, 255, 255, 0.4),
    0 0 40px #c3ff00,
    0 0 70px #c3ff00,
    0 0 80px #c3ff00,
    0 0 100px #c3ff00;
  animation: brilho 2s infinite alternate;
}

@keyframes brilho {
  from {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
      0 0 10px rgba(255, 255, 255, 0.4),
      0 0 20px rgba(255, 255, 255, 0.3),
      0 0 30px #c3ff00,
      0 0 40px #c3ff00,
      0 0 50px #c3ff00,
      0 0 60px #c3ff00;
  }

  to {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
      0 0 20px rgba(255, 255, 255, 0.6),
      0 0 30px rgba(255, 255, 255, 0.4),
      0 0 40px #c3ff00,
      0 0 70px #c3ff00,
      0 0 80px #c3ff00,
      0 0 100px #c3ff00;
  }
}
/* 
.sarah{
  background-image: url(/images/sarahBq.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
} */

.informacao{
  margin-top: 15px;
 background-color: rgba(10,107,60,0.8) ;
 padding: 20px;
 font-weight: 700;
 color: white;
 text-align: center;
 background-attachment: fixed;
}
.texto{
  font-size: 2.5em;
  text-align: justify;
  line-height: 30px;
}

.texto .display-6{
font-size: 2.2vw;
}
.flores{
  margin:20px 0 ;
}

.bloco{
  background-color: black;
}

.card{
  margin-right: 5px;
  margin-top:5px;
}

.imagem{
  transition: filter 0.5s ease;
}
.imagem:hover img {
  filter: grayscale(70%);
}
.nome-flor {
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2vw;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  opacity: 0; /* Começa invisível */
  transition: opacity 0.5s ease;
}

.imagem:hover .nome-flor {
  opacity: 1; /* Exibe o nome da flor ao passar o mouse */
}
.pedidos, .retiradas {
  background-color: rgba(10,107,60,0.8); 
  color: #fff; /* Texto branco */
  padding: 20px;
  margin: 20px;
 
  border-radius: 10px; /* Bordas arredondadas para suavizar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve para destacar */
}

.logo img {
  width: 100px;
}



