


body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* background-image: url(/images/flores.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; */

  min-height: 100vh;


}

.pedido {
  margin-top: 40px;
  padding: 50px 20px;
  background: rgba(38, 202, 65, 0.7);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 4.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.pedido .btn {

  margin-top: 20px;
}

.pedido .form-label {
  margin-top: 10px;
  margin-bottom: 10px;
}

.brilhante {
  margin-top: 30px;
  font-size: 36px;
  color: #000;
  text-align: center;
  font-family: "Delius",cursive;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.6),
    0 0 30px rgba(255, 255, 255, 0.4),
    0 0 40px #ff00ff,
    0 0 70px #ff00ff,
    0 0 80px #ff00ff,
    0 0 100px #ff00ff;
  animation: brilho 2s infinite alternate;
}

@keyframes brilho {
  from {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
      0 0 10px rgba(255, 255, 255, 0.4),
      0 0 20px rgba(255, 255, 255, 0.3),
      0 0 30px #ff00ff,
      0 0 40px #ff00ff,
      0 0 50px #ff00ff,
      0 0 60px #ff00ff;
  }

  to {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
      0 0 20px rgba(255, 255, 255, 0.6),
      0 0 30px rgba(255, 255, 255, 0.4),
      0 0 40px #ff00ff,
      0 0 70px #ff00ff,
      0 0 80px #ff00ff,
      0 0 100px #ff00ff;
  }
}

.informacao{
  margin-top: 15px;
 background-color: rgba(0,0,0,0.5);
 padding: 20px;
 color: antiquewhite;
 text-align: center;
 background-attachment: fixed;
}
.texto{
  font-size: 20px;
  text-align: justify;
  line-height: 30px;
}
.flores{
  margin:20px 0 ;
}

.imagem:hover img {
  opacity: 0.5; 
}
.nome-flor {
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  opacity: 0; /* Começa invisível */
  transition: opacity 0.5s ease;
}

.imagem:hover .nome-flor {
  opacity: 1; /* Exibe o nome da flor ao passar o mouse */
}


.logo img {
  width: 100px;
}

